* {
  color: #ffffff;
}

html {
  height: 100vh;
}

body {
  background-color: #240c2af5;
  height: 100%;
}

.image-container {
  border-radius: 50%;
  border: 1px solid;
  box-shadow: 0px 0px 6px white;
}

.image-container img {
  width: 100%;
}

.my-input {
  width: 100%;
  background-color: white;
  border: 2px solid #e83b6b;
  border-radius: 15px;
  color: black;
  overflow: hidden;
}

.my-input i {
  color: black;
}

.searcher {
  width: 90%;
  border: none;
  outline: none;
  color: black;
}

.my-navbar div a {
  color: white;
  font-weight: 700;
  transition: 0.3s;
}

.my-navbar div a:hover {
  text-decoration: none;
  transition: 0.3s;
}

.my-aside div.col {
  margin-bottom: 25px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
}

.my-aside h3 {
  padding-left: 10%;
}
.links {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

.links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.links a:hover {
  color: #c84f4c;
  transition: 0.3s;
}

.my-footer {
  background-color: #1b0828;
}

.my-footer footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p:nth-of-type(3) {
  font-weight: 700;
}

.icons {
  width: 300px;
  display: flex;
  font-size: 30px;
  justify-content: space-evenly;
}

.icons a {
  display: flex;
  text-decoration: none;
}

.icons i {
  transition: 0.3s;
}

.icons i:hover {
  color: #c84f4c;
  transition: 0.3s;
}

.my-email a{
  color: white;
  text-decoration: none;
  transition: 0.3s;
  margin: 5px;
}

.my-email a:hover{
  color: #c84f4c;
  transition: 0.3s;
}

.current-page {
  position: relative;
  margin: 0px 15px;
}

.current-page:after {
  position: absolute;
  content: "";
  bottom: 7px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: #e83b6b;
  transform: translateY(15px);
}

.navbar-item{
  position: relative;
  margin: 0px 15px;
}

.navbar-item:after{
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: #e83b6b;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  transform: translateY(20px);
}

.navbar-item:hover:after{
  opacity:1;
  transform: translateY(15px)
}

/* Pantallas medianas */
@media screen and (max-width: 991px) {
  .my-name-title {
    font-size: 33px;
  }
}

/* Pantallas pequeñas */
@media screen and (max-width: 767px) {
  .my-name-title {
    font-size: 24px;
  }
}

/* Pantallas extrapequeñas */
@media screen and (max-width: 575px) {
  .my-name-title {
    font-size: 5.4vw;
  }
}
